body{
	margin: 0;
	padding: 0;
	background-color: #a7a1c9;
	
}


*{
	box-sizing: border-box;
	font-family: Helvetica;
}

h1{
	text-align: center;
}

p{
	margin: 0;
	padding: 20px;
	clear:both;
}


@media(min-width : 992px)
{
	#box1, #box2, #box3
	{
		background-color: #e3bfda;
		padding: 10px 10px 10px 10px;
		border :1px solid black;
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 32.33%;
		float : left;
		display: inline-block;
	}
   
}

@media (min-width: 768px) and (max-width : 991px){
 	#box1, #box2
	{
		background-color: #e3bfda;
		padding: 10px 10px 10px 10px;
		border :1px solid black;
		margin-left: 1%;
		margin-right: 1%;
		width: 48%;
		float: left;
		display: inline-block;
	}

	#box3
	{
		margin-top: 20px;
		background-color: #e3bfda;
		padding: 10px 10px 10px 10px;
		border :1px solid black;
		margin-left: 1%;
		margin-right: 1%;
		float: left;
		clear: both;
		
		
	}
}

@media(max-width : 767px)
{

	#box1, #box2, #box3
		{
			background-color: #e3bfda;
			padding: 10px 10px 10px 10px;
			border :1px solid black;
			float: left;
			margin-top: 20px;
			width: 100%;
		}	
}

.t1, .t2, .t3
{
	float: right;
	width: 100px;
	border:1px solid black;
	text-align-last: center; 
	
}

.t1{background-color: #ed8c53;}
.t2{background-color: #cf5376}
.t3{background-color: #d66978 }	
